* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  input,
  button {
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .outer-container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #6452ec, #be68c7);
}

.outer-form {
  display: flex;
  flex-direction: column;
}

.outer-success {
  color: green;
}